<main role="main" class="mb-32 lg:mb-48">
  <p class="alert alert-info" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="info"><%= live_flash(@flash, :info) %></p>

  <p class="alert alert-danger" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="error"><%= live_flash(@flash, :error) %></p>

    <%= live_component NewsbloatWeb.SidebarMenuComponent,
      ui_theme: @ui_theme,
      current_feed: assigns[:feed]
    %>

  <%= @inner_content %>
</main>
