<!DOCTYPE html>
<html lang="en" class="<%= current_ui_theme(@conn) %>">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Newsbloat", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <%# TODO: maybe use local font %>
    <link async href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  </head>
  <body>
    <%# https://stackoverflow.com/questions/21147149/flash-of-unstyled-content-fouc-in-firefox-only-is-ff-slow-renderer#57888310 %>
    <script>0</script>
    <!-- rest of the code -->
    <header>
      <section class="container mx-auto">
        <nav role="navigation">
          <ul class="flex">
            <%# <%= if function_exported?(Routes, :live_dashboard_path, 2) do %1> %>
            <%#   <li><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %1></li> %>
            <%# <% end %1> %>
          </ul>
        </nav>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
