@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "components/link";

@media (prefers-color-scheme: dark) {
    --color-primary: #e3e4e9;
    --color-secondary: #1b1b1b;
    --color-ancillary: #AC9779;

    --color-foreground: #adaeb3;
    --color-background: #1b1b1b;
    fill: currentColor;
    .theme-light-hidden * {
        display: none;
    }
}
@media (prefers-color-scheme: light) {
    --color-primary: #242424;
    --color-secondary: #ffffff;
    --color-ancillary: #b5b5b5;

    --color-foreground: #242424;
    --color-background: #ffffff;
    fill: currentColor;
    .theme-dark-hidden * {
        display: none;
    }
}

/* use dark theme by default so eye's won't be burned by accident */
html.dark {
    --color-primary: #e3e4e9;
    --color-secondary: #1b1b1b;
    --color-ancillary: #AC9779;
    
    --color-foreground: #adaeb3;
    --color-background: #1b1b1b;
    fill: currentColor;
    .theme-light-hidden * {
        display: none;
    }
}
html.light {
    --color-primary: #242424;
    --color-secondary: #ffffff;
    --color-ancillary: #b5b5b5;

    --color-foreground: #242424;
    --color-background: #ffffff;
    fill: currentColor;
    .theme-dark-hidden * {
        display: none;
    }
}



/* This file is for your main application css. */
/* @import "./phoenix.css"; */

@layer base {
  ::selection {
    @apply bg-ancillary;
  }
  body {
    @apply text-base text-foreground bg-background;
  }
  h1, h2, h3, h4, h5 {
    @apply leading-5;
  }
  h1 {
    @apply text-5xl mt-10 mb-12;
  }
  h2 {
    @apply text-4xl mt-8 mb-10;
  }
  h3 {
    @apply text-2xl mt-6 mb-8;
  }
  h4 {
    @apply text-xl mt-4 mb-6;
  }
  h5 {
    @apply text-lg mt-2 mb-4;
  }
  h5 {
    @apply text-base mt-1 mb-4;
  }
  p {
    @apply mb-4 leading-7;
  }
  a {
    @apply text-foreground;
  }

  /* TODO: 'external link' icon */
  a[target=_blank]:after {}

  a {
    @apply inline-block;
  }
  button, .button {
    @apply text-foreground transition-all outline-none px-6 py-2 border-foreground border outline-none cursor-pointer bg-transparent leading-normal ;
    &:hover {
      @apply text-background transition-all;
      background-size: 100% 100%;
    }
    &:focus {
      @apply outline-none shadow-outline-foreground;
    }
    background-image: linear-gradient(to top,var(--color-foreground),var(--color-foreground));
    background-size: 100% 0px;
    background-position: left bottom;
    background-repeat: no-repeat;
  }

  input, textarea, fieldset, select {
    @apply block mb-2;
  }
  input, textarea {
    @apply w-full p-2 border-b border-foreground text-base bg-background outline-none transition-all shadow-none;
    &:focus {
      @apply outline-none border-ancillary 
    }
  }

  img {
    @apply mb-4;
  }
}

.container {
  max-width: 60rem;
  @apply px-12 !important;
  @screen md {
    @apply px-8 !important;
  }
}
.content {
  /* https://baymard.com/blog/line-length-readability */
  max-width: 45rem;
}

.icon {
  fill: currentColor;
}

.tag {
  @apply inline-block p-1 rounded border border-foreground text-xs mr-1 mb-1;
}


.active:not(:hover) {
  @apply text-ancillary;
  background-image: linear-gradient(to top,var(--color-ancillary),var(--color-ancillary));
  /* 0px => no 'text underline' */
  background-size: 100% 2px;
  background-position: left bottom;
  background-repeat: no-repeat;
}
/* lists */

/* loader */
.loader {
  @apply hidden
}
.phx-change-loading .loader {
  @apply inline-block;
}

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.6);
}

.phx-modal-content {
  @apply bg-background border border-ancillary p-8 pb-16;
  margin: 15% auto;
  width: 80%;
}

.phx-modal-close {
  float: right;
  font-size: 2rem;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  /* color: black; */
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  position: fixed;
  right: 1rem;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  @apply mb-4 block;
  color: #a94442;
}
